@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h2>Add a Treat!</h2>

<h4>Assign this flavor to a Treat: @Html.DisplayFor(model => model.FlavorNotes)</h4>

@using(Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type = "submit" value = "Save" />
}

<p>@Html.ActionLink("Back to flavor list", "Index")</p> 