@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.FlavorNotes)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorNotes)
    @Html.EditorFor(model => model.FlavorNotes)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to flavor list", "Index")</p>